.flex {
    display: flex;
    justify-content: space-around;
}
.controls {
    margin: 1rem;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
    pointer-events: none;
}

/* Chessground */
#ground{
  width:400px;
  height:400px;
 }

/* EXTRACT FROM BOOTSTRAP */
/* Definition List */
dl.dl-horizontal {
    margin-bottom: 20px;
    margin-top: 0;
  }
  
  dl.dl-horizontal dt {
    clear: left;
    float: left;
    overflow: hidden;
    text-align: right;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100px;
    font-weight: bold;
  }
  
  dl.dl-horizontal dd::before,
  dl.dl-horizontal dd::after {
    content: " ";
    display: table;
  }
  
  dl.dl-horizontal dd::after {
    clear: both;
  }
  
  dl.dl-horizontal dd {
    margin-left: 120px;
  }