.flex {
    display: flex;
    justify-content: space-around;
}
.controls {
    margin: 1rem;
}
.isDisabled {
    color: currentColor;
    cursor: not-allowed;
    opacity: 0.5;
    text-decoration: none;
  }